*.class

# Package Files #
*.jar
*.war
*.ear

# Vim files
.*~
.*.sw[a-z]

# Python files
__pycache__
*.pyc

# Latex files
*.pdf
*.aux
*.backup
*.toc
*.log

!presentacion.pdf
!informefinal.pdf

# Temporary shit from Matlab
*~
